body {
  background-color: #505050;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
  transition: all 1s ease-out;


  font-family: "Raleway", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
  font-weight: 100;
  font-style: normal;

  font-size: 18px;
  letter-spacing: 0.05em;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}


.align-right {
  text-align: right;
}


.guide {
  filter: opacity(70%);
  font-size: 16px;

  transition: all 1.5s ease-out;
}


button {
  background-color: transparent;
  color: white;
  font-size: 26px;
  letter-spacing: 0.01rem;

  border-width: 1px;
  border-spacing: 5px;
  border-color: transparent;
  border-style: dotted;
  font-family: "Raleway";
  font-weight: lighter;

  padding-block: 1px;
  padding-inline: 6px;

  transition: all 0.3s ease-out;
}

button:hover {
  border-bottom-color: white;
}


#shortcuts {
  transition: all 0.3s ease-out;
  display: flex;
}
.quick-start {
  z-index: 101;
}


label {
  opacity: 65%;
}

#option {
  position: absolute;
  bottom: 30px;
  left: 30px;

}

#option input {
  filter: saturate(0%) contrast(70%);
}

#volume-option-div {
  display: flex;
  transition: all 0.3s ease-out;
}

#volume-bar {
  height: 30px;
  margin-top: 0px;
  width: 170px;
  color: white;

  transition: all 0.1s ease-out;
}

#volume-bar-label {
  float: right;

  transition: all 0.1s ease-out;
}

#mute {
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

#mute:checked+#mute-label {
  opacity: 100%;
}

#mute-icon {
  border-width: 1px;
  border-spacing: 5px;
  border-color: transparent;
  border-style: dotted;

  padding-bottom: 3px;

  transition: all 0.2s ease-out;
}
#mute-icon:hover {
  border-bottom-color: white;
}


#auto-stop, #stay-awake {
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
  border-width: 0px;

  margin-top: 14px;

  transition: all 0.3s ease-out;
}

#auto-stop-label, #stay-awake-label {
  height: 14px;
  padding-left: 3px;

  transition: all 0.3s ease-out;
}




#timer-menu {
  position: absolute;
  left: 50%;
  top: calc(50% + 110px);
  transform: translate(-50%, 0);

  transition: transform 1s ease-out;
}
#timer-menu button {
  height: 50px;
  width: 50px;

  font-size: 30px;
}

#pause {
  display: none;
}

#resume {
  display: none;
}

#reset {
  display: none;
  color: white;
  margin-right: 30px;
  transition: all 0.3s ease-out;
}

#reset:hover {
  color: rgb(255, 157, 157);
  border-bottom-color: rgb(255, 157, 157);
}


#start {
  display: inline-block;
  font-size: 30px;
  transition: all 0.3s ease-out;
}


#input-field {
  display: flex;
  justify-content: center;
  font-size: 150px;
  letter-spacing: 0.05rem;

  position: absolute;
  height: 180px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#input-field input {
  background-color: transparent;
  color: white;
  font-size: 150px;
  font-family: 'Raleway';

  margin: 0px;
  padding: 0px;

  width: 280px;
  height: 180px;
  max-width: 100%;

  margin-top: auto;

  border: none;
  transition: all 0.2s ease-out;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

input:focus {
  outline: none;
  text-decoration: none;
  caret-color: rgba(255, 255, 255, 0.8);
}

.input-colon {
  font-size: 150px;
  font-family: 'Raleway';
  user-select: none;
  margin-top: auto;
  transition: all 0.2s ease-out;
}

#input-field-guide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-100px);

  width: max-content;

  font-size: 16px;
}


#time {
  display: none;
  text-align: center;
  font-size: 150px;
  letter-spacing: 0.05rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -135%);
  font-family: 'Raleway';
  transition: all 1s ease-out;
  filter: invert(0%);
}

.colon {
  transition: all 0.8s ease-out;
}


#time-bar {
  width: 0px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 50%;
  top: calc(50% + 90px);
  transform: translate(-50%, 0);
  transition: all 1s ease-out;
}



#copyright {
  position: absolute;
  bottom: 5px;
  right: 15px;
  transform: translate(0px, -3px);

  font-size: 12px;
  text-decoration: none;
  color: white;
  opacity: 40%;

  transition: all 0.2s ease-in-out;
}

#copyright:hover {
  color: aqua;
  opacity: 100%;
}



@media screen and ((max-width: 768px) or (max-height: 480px)){ /*画面サイズが小さいとき*/

  #time,
  #input-field input {
    font-size: 100px;
  }

  #input-field input {
    width: 180px;
    overflow: hidden;
  }

  #input-field .input-colon {
    font-size: 100px;
    transform: translateY(31px);
  }

  #timer-menu {
    transform: translate(-50%, -40px);
  }

  #time-bar {
    transform: translate(-50%, -30px);
  }

}

@media screen and (hover: none) and (pointer: coarse) { /*タッチ操作のとき*/

  button, #mute-icon {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid gray;
    border-radius: 10px;
  }
  button:hover, #mute-icon:hover {
  border-bottom-color: gray;
}



  #shortcuts {
    display: flex-block;
    flex-wrap: wrap;
  }
  #shortcuts button {
    margin: 0px 8px 8px 0px;
  }
  

  #time,
  #input-field input {
    font-size: 100px;
  }

  #input-field input {
    width: 180px;
    overflow: hidden;
  }

  #input-field .input-colon {
    font-size: 100px;
    transform: translateY(31px);
  }

  #timer-menu {
    transform: translate(-50%, -30px);
  }

  #timer-menu button {
    height: 50px;
    width: 50px;
  }

  #time-bar {
    transform: translate(-50%, -30px);
  }


  #auto-stop, #stay-awake {
    margin-top: 20px;
  }

  #auto-stop-label, #stay-awake-label {
    padding-left: 8px;
  }

  #volume-option-div {
    margin-top: 10px;
  }

  #mute-icon {
    transform: translate(0, -8px);
    padding: 8px;
  }


  #copyright {
    bottom: 0px;
  }
}

@media screen and (hover: none) and (pointer: coarse) and (max-height: 399px) { /*タッチ操作かつ横画面のとき*/

  #time {
    transform: translate(-50%, calc(-135% - 20px));
  }

  #input-field #minutes,
  #input-field #seconds  {
    transform: translateY(-20px);
  }

  #input-field:has(input:focus) #minutes,
  #input-field:has(input:focus) #seconds  {
  font-size: 60px;
}

  #input-field .input-colon {
    transform: translateY(11px);
  }
  #input-field-guide {
    transform: translateX(-50%) translateY(-100px);
  }

  #timer-menu {
    left: calc(100% - 120px);
    width: max-content;
    transform: translate(calc(-50% + 0px), -145px);
  }

  #time-bar {
    transform: translate(-50%, -50px);
  }
}